:root{
    --primery-text-color:#555555;
    --dark-color: #303030;
    --white-color: #FFFFFF;
    --orange-color: #FF6C00;
    --grey-color: #9DA4BD;
}
*{
    background-color: var(--white-color);
    color: var(--primery-text-color);
    font-family: Open Sans;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style-type: none;
    }
 
.logo{
    color: var(--dark-color);
}
.link{
    color: var(--dark-color);

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
}
.link:hover, 
.link:target,
.nav:hover,
.nav:target
{
    color: var(--orange-color);
}
.nav{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

       color: red; 
    /* color: var(--white-color);*/
}
.btn-text{
    width: 160px;
    height: 40px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    /* color: var(--white-color);*/
    color: red;
    border: 1px solid var(--orange-color);
    box-sizing: border-box;
    border-radius: 25px;
}
.btn-text-black{
    width: 160px;
    height: 40px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: var(--dark-color);
    border: 1px solid var(--orange-color);
    box-sizing: border-box;
    border-radius: 25px;

}
.title-section{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--dark-color);
}
.H1{
    font-family: Raleway;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;

    color: red; 
    /* color: var(--white-color);*/
}
.text-dark{
    font-size: 18px;
    line-height: 1.67;
        
    color: var(--grey-color);
}
.nav-slider{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;

    color: rgba(157, 164, 189, 0.6);
}
.nav-slider:hover,
.nav-slider:target{
     /* color: var(--white-color);*/
     color: red;
}
.title{
    font-family: Raleway;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    
    color: var(--dark-color);
}
.title-text{
    font-size: 18px;
    line-height: 1.67;

    color: var(--primery-text-color);
}
.text{
    font-size: 14px;
    line-height: 1.86;

    color: var(--primery-text-color);
}

.title-section-dark{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.6);
}
.title-dark{
    font-family: Raleway;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    
    color: red;
    /* color: var(--white-color); */
}
.h3{
    font-family: Open Sans;

    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;
    
    color: var(--dark-color);
}

.sup{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    
    color: var(--orange-color);
}
.title-master{
    font-size: 18px;
    line-height: 1.39;
   
    color:  var(--dark-color);
}

.master{
    font-size: 14px;
    line-height: 1.36;

    color: var(--orange-color);
}

.online-booking,
.online-booking sup {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.4);
}

.online-booking:hover,
.online-booking:target,
.online-booking sup:hover,
.online-booking sup:target{
    color: var(--white-color);
}

.time-work{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: red;
    /* color: var(--white-color);*/
}
.copyright{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
   
    color: var(--grey-color);
}